<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-os-plugin" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>BOSSPlugin</name><js-module name="BOSSPlugin" src="www/BOSSPlugin.js"><clobbers target="cordova.plugins.BOSSPlugin" /></js-module><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="BOSSPlugin"><param name="ios-package" value="BOSSPlugin" /></feature></config-file><source-file src="src/ios/BOSSPlugin.m" /></platform><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="BOSSPlugin"><param name="android-package" value="cordova-os-plugin.BOSSPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/BOSSPlugin.java" target-dir="src/cordova-os-plugin/BOSSPlugin" /></platform></plugin>